<div class="all">
	<div class="container">
		<div class="left-col">
			<div class="menu">
				<h2 class="h2Title"><%= link_to "Follow Thru", tasks_path, :class => 'linked' %></h2>
				<hr />
				<p><%= link_to "Your Tasks", tasks_path, :class => 'linked' %></p>
				<hr />
				<p><%= link_to "Dashboard", dashboard_index_path, :class => 'linked' %></p>
				<hr />
				<p><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'linked'%></p>
			</div>
		</div>
		<div class="main-col">
			<h1>DASHBOARD</h1>
			<div class="dashboard">
				<div class="stats">
				<h2>Stats</h2>
				</div>
				<div class="profile">
					<h2>Profile</h2>
						<b><p><%= link_to 'Edit profile', edit_user_registration_path, :class => 'dashLink' %> </p></b>
						<% if current_user.matchee == nil %>
							<b><%= link_to 'Match up with another user', dashboard_path(current_user.id), method: :patch, :class => 'boxLink' %>
						<% else %>
							<%= link_to "You're already matched up, but clicking this will match you up with another user", dashboard_path(current_user.id), method: :patch %></b>
						<% end %>
				</div>


			</div>
  	</div>
	</div>
</div>