<div class="all">
	<div class="container">
		<div class="left-col">
			<div class="menu">
				<h2 class="h2Title"><%= link_to "Follow Thru", tasks_path, :class => 'linked' %></h2>
				<hr />
				<p><%= link_to "Your Tasks", tasks_path, :class => 'linked' %></p>
				<hr />
				<p><%= link_to "Dashboard", dashboard_index_path, :class => 'linked' %></p>
				<hr />
				<p><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'linked'%></p>
			</div>
		</div>
		<div class="main-col">
			<div class="switcher">
				<div class="inactiveSwitch" class="">
					<p><%= link_to "Your Tasks", tasks_path, :class => "linker" %></p>
				</div>
				<div class="activeSwitch">
					<p><%= link_to "Your Partner's Tasks", tasks_partner_path, :class => 'linker' %></p>
				</div>
			</div>
			<br><br>
			<div class="tasks">
				<%# if @incomplete_partner_tasks == nil %>
				<%# else %>
				<% @partner_tasks.each do |t| %>
				<div class="notDoneTask">
					<div class="deleter">
						<span class='xButton'>&nbsp&nbsp<%= link_to "X", task_path(t.id), method: :patch %>&nbsp&nbsp&nbsp&nbsp</span>
					</div>
					<span class="taskText"><%= t.name %></span>
				</div>

				<%# end %>
				<% end %>

<!-- 			<%#= form_for current_user do |f| %>
				<%#= f.fields_for :tasks do |builder| %>
				<%# if builder.object.is_complete == false %>
					<div class="notDoneTask">
					<div class="deleter">
						<span class='xButton'>&nbsp&nbsp<%#= link_to "X", task_path(builder.object.id), method: :patch %>&nbsp&nbsp&nbsp&nbsp</span>
					</div>
						<span class="taskText">
							<%# if builder.object.is_complete == false %>
								<%#= builder.object.name %>
							<%# end %>
						</span>
					</div>
 -->
					<hr>
					<%# end %>
					<%#= builder.check_box :is_complete%>
				<%# end %>
			<%#= f.submit %>
			<%# end %>
        <tr>
        </tr>
        <tr>
        	<td><%#= render 'form' %></td>
        </tr>
        <% if @comments == nil %>
        <% else %>
        <% @comments.each do |c| %>
        	<%= c.title %>
        	<%= c.user.email %>
        <% end %>	
        <% end %>

      
    	</div>
		</div>
	</div>
</div>


<script>
	// Switch between User and Partners tasks. 
	// $('.inactiveSwitch').click(function() {
	// 	var $this = $(this);
	// 	if(!$this.hasClass('inactiveSwitch'))
	// 		$('.inactiveSwitch').toggleClass('inactiveSwitch').toggleClass("activeSwitch");
	// 		$('.activeSwitch').toggleClass('activeSwitch').toggleClass("inactiveSwitch");
	// 		$this.toggleClass("inactiveSwitch").toggleClass("activeSwitch");
	// });
	// $('.activeSwitch').click(function() {
	// 	var $this = $(this);
	// 	if(!$this.hasClass('inactiveSwitch'))
	// 		$('.inactiveSwitch').toggleClass('inactiveSwitch').toggleClass("activeSwitch");
	// 		$('.activeSwitch').toggleClass('inactiveSwitch').toggleClass("activeSwitch");
	// 		$this.toggleClass("activeSwitch").toggleClass("inactiveSwitch");
	// });
	// Switch between task done and not done.
	// make the delete button appear
	$('.notDoneTask').click(function(){
		$(this).toggleClass('doneTask').toggleClass('notDoneTask');
		if($(this).hasClass('doneTask')){
			// $('.deleter').show();
		}
	})

// </script>


<%#= link_to 'Edit your to do list', edit_list_path(task) %>
