<div class="commenbox">
<h2>Comments:</h2>

 <% @comments_sorted.reverse.each do |c| %>
   <b><%= c.user.email.split('@').first %></b> :
    <%= c.title %>  <span class="paren"<i>(<%= time_ago_in_words(c.created_at) %>)</i></span><br />
    
<%end %>   

<h3></h3>
<%= form_for Comment.new do |c| %>
    <%= c.text_field :title %>
    <%= c.submit "Add a new comment" %>
 <%end %>	
</div>