<div class="all">
	<div class="container">
		<div class="left-col">
			<div class="menu">
				<h2 class="h2Title"><%= link_to "Follow Thru", tasks_path, :class => 'linked' %></h2>
				<hr />
				<p><%= link_to "Your Tasks", tasks_path, :class => 'linked' %></p>
				<hr />
				<p><%= link_to "Dashboard", dashboard_index_path, :class => 'linked' %></p>
				<hr />
				<p><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'linked'%></p>
			</div>
		</div>
		<div class="main-col">
			<div class="switcher">
				<div class="activeSwitch" class="">
					<p><%= link_to "Your Tasks", tasks_path, :class => "linker" %></p>
				</div>
				<div class="inactiveSwitch">
					<p><%= link_to "Your Partner's Tasks", tasks_path, :class => 'linker' %></p>
				</div>
			</div>
			<br><br>
			<div class="tasks">
			<%= form_for current_user do |f| %>
				<%= f.fields_for :tasks do |builder| %>
				<% if builder.object.is_complete == false %>
					<div class="notDoneTask">
					<div class="deleter">
						<span class='xButton'>&nbsp&nbsp<%= link_to "X", task_path(builder.object.id), method: :patch %>&nbsp&nbsp&nbsp&nbsp</span>
					</div>
						<span class="taskText">
							<%= builder.object.name %>
						</span>
					</div>

					<hr>
					<% end %>
					<%#= builder.check_box :is_complete%>
				<% end %>
			<%#= f.submit %>
			<% end %>
        <tr>
        </tr>
        <tr>
        	<td><%= render 'form' %></td>
        </tr>


      
    	</div>
		</div>
	</div>
</div>


// <script>
	// Switch between User and Partners tasks. 
	$('.inactiveSwitch').click(function() {
		var $this = $(this);
		if(!$this.hasClass('inactiveSwitch'))
			$('.inactiveSwitch').toggleClass('inactiveSwitch').toggleClass("activeSwitch");
			$('.activeSwitch').toggleClass('activeSwitch').toggleClass("inactiveSwitch");
			$this.toggleClass("inactiveSwitch").toggleClass("activeSwitch");
	});
	$('.activeSwitch').click(function() {
		var $this = $(this);
		if(!$this.hasClass('inactiveSwitch'))
			$('.inactiveSwitch').toggleClass('inactiveSwitch').toggleClass("activeSwitch");
			$('.activeSwitch').toggleClass('inactiveSwitch').toggleClass("activeSwitch");
			$this.toggleClass("activeSwitch").toggleClass("inactiveSwitch");
	});
	// Switch between task done and not done.
	// make the delete button appear
	$('.notDoneTask').click(function(){
		$(this).toggleClass('doneTask').toggleClass('notDoneTask');
		if($(this).hasClass('doneTask')){
			// $('.deleter').show();
		}
	})

// </script>


<%#= link_to 'Edit your to do list', edit_list_path(task) %>
